#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

#  Private files
*.private
*.key

# Artefacts
*.exe
*.dll
*.pdb
*.zip

# Vagrant files
*.Vagrant
*.box

# Plantuml files
*.puml

# Packer files
**/output-virtualbox-iso/*
packerlog.txt

